<div class="message-section shadow">

    <div class="info d-flex ">
        <p>IBRAHIM AHDADOU</p>
        <i class="fas fa-window-close "></i>
    </div>
    <div class="messages">
        <div class="position-relative">
            <div class="chat-messages p-4 "  #scrollMe>


                <div class="" *ngFor="let item of messages">

                    <div [ngClass]="{'chat-message-right':item.user_sender.email!=currentUserEmail,'chat-message-left':item.user_sender.email==currentUserEmail}"
                        class=" mb-4">
                        <div>
                            <!-- <img src="{{item.user_sender.image==null ? '../../../../assets/img/images.png': item.user_sender.image }}" -->
                                <!-- class="rounded-circle me-1" alt="Chris Wood" width="40" height="40"> -->
                            <div class="text-muted small text-nowrap mt-2">{{item.createAt |
                                date:'M/d/yy h:mm'}}</div>
                        </div>
                        <div class="flex-shrink-1 bg-light rounded py-2 px-3 me-3">
                            <div class="font-weight-bold mb-1">
                                {{item.user_sender.firstname}}
                                {{item.user_sender.lastname}}
                            </div>
                            {{item.msg}}
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
    <div class="message shadow">
        <input type="text" placeholder="Write a message..."  [(ngModel)]="msg" name="msg">
        <button>Send</button>
    </div>
</div>