<div class="container">
    <div class="row index-section">
        <div class="body col-md-12 ms-auto shadow rounded">

            <div class="col-10 mx-auto">
                <div class="search">

                    <div class="row ">
                        <div class="col-lg-6 mx-auto">
                            <h5 class="font-weight-light mb-4 font-italic text-white"></h5>

                            <!-- Custom rounded search bars with input group -->
                            <form action="">
                                <div class="p-1 bg-light rounded rounded-pill shadow-sm mb-4">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div id="button-addon2" type="submit" class="btn btn-link "><i
                                                    class="fa fa-search"></i></div>
                                        </div>
                                        <input [(ngModel)]="name" name="name" type="search"
                                            placeholder="Filter By City,Firstname..." aria-describedby="button-addon2"
                                            class="form-control border-0 bg-light" (ngModelChange)="filterbyName()">
                                    </div>
                                </div>
                            </form>
                            <!-- End -->
                        </div>
                    </div>
                </div>
            </div>


            <div class="items">


                <div class="card my-2 " *ngFor="let item of users">
                    <div class="row card-body" *ngIf="item.email != currentUser.email">
                        <div class="card-img col-md-2 ">
                            <div class="item-img">
                                <img *ngIf="item.image" src="{{item.image}}" alt="">
                                <i *ngIf="!item.image" class="fa-3x fas fa-user-circle"></i>
                            </div>
                        </div>
                        <div class="info col-lg-7 col-md-12">
                            <h6 class="">{{item.firstname}} {{item.lastname }}</h6>
                            <div class="review d-flex align-items-center">
                                <bar-rating [rate]="item.ratingAverage" [max]="5" [readOnly]="true" class="mb-3 me-2">
                                </bar-rating>
                                <span class="review "> {{item.reviewCount}} reviews</span>
                            </div>
                            <p>{{item.description}}</p>
                        </div>
                        <div class="col-lg-2 col-md-12 buttons">
                            <button class="noselect" routerLink="inbox/{{item.id}}"><span class='text'>Send</span><span class="icon"><i
                                        class="fas fa-comments"></i></span></button>
                            <!-- <button class="btn">Profile</button> -->

                            <button class="noselect" routerLink="profile/{{item.id}}"><span
                                    class='text'>Profile</span><span class="icon"><i
                                        class="fas fa-user"></i></span></button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- <app-message ></app-message> -->
</div>